parameters:
    level: 5
    phpVersion: 80200

    parallel:
        maximumNumberOfProcesses: 1

    paths:
        - dist/symcon

    bootstrapFiles:
        - stubs/symcon.php

    excludePaths:
        - vendor/*

    treatPhpDocTypesAsCertain: true
